* {
    box-sizing: border-box;
}

 body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    padding: 24px 16px;
    align-items: center;
    color: #141413;
    width: 100%;
    height: 111px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
 
header > img{
    width: 43px;
    height: 52px;
    margin-right: 8px;
}

header > h1{
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    font-weight: 500;
}