*{
  box-sizing: border-box;
}

body{
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #344661;
  color: white;
}

h1 {
  margin-top: 30px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
}

.nav-logo{
  width: 60px;
}
.nav-list{
  list-style: none;
  display: flex;
}

.nav-items {
  margin-left: 1.1rem;
}

.main-list {
  list-style: number;
  font-family: 'Times New Roman', Times, serif;
}

.foot-items {
  background-color: black;
  color: white;
  flex-shrink: 0;
  padding: 10px 0;
  width: 100%;
}

.foot-inside {
  display: flex;
  padding: 5px 10px;
  
}