*{
  box-sizing: border-box;
}

body{
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

.header{
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);

}

h1 {
  margin-top: 30px;
  color: lightblue;
}



.header-heading{
  color: lightblue;
}

.icon-img{
  width: 40px;
}

li::marker{
  color: lightblue;
  font-size: 1.5rem;
}